
/* Links */
a,
a:focus,
a:hover {
    text-decoration: none;
}

/*
 * Base structure
 */
html{
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    background-image: url('../ressources/fond.png');
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */

.nav-logo{
    margin-bottom: 30px;
    height: 50px;
}

.nav-login {
    margin-top: 10px;
}

.masthead{
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    background-color: #b72a2a;
    z-index: 2;
}

@media (min-width: 768px) {
    .nav-logo {
        float: left;
    }
    .nav-login {
        margin-top: 10px;
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .footer {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: bottom;
    }
    /* Handle the widths */
    .masthead,
    .footer,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

/*
*Login buttons
*/
.btn-go:hover{
    background: #A92626;
}

.btn-go{
    padding: 8px 13px;
    -webkit-appearance: button;
    cursor: pointer;
    background: #b72a2a;
    border: 1px solid #922626;
    color: #fff !important;
    -webkit-box-shadow: inset 0px 1px 3px #922626;
    -moz-box-shadow: inset 0px 1px 3px #922626;
    box-shadow: inset 0px 1px 3px #922626;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    line-height: 18px;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
    outline: none;
    white-space: normal;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.login-text{
    margin-right:5px;
    padding:8px;
    width: 160px;
    background: #f1ecf7;
    border-color: #68488b;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid transparent;
    color: #000;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    line-height: normal;
    vertical-align: middle;
}

@media (max-width: 500px) {
    .btn-go{
        text-align: center;
        background: #A92626;
        margin-right: 5px;
    }
    .login-text {
        margin-bottom: 6px;
    }
    .nav-login {
        display: inline-grid;
    }
    .nav-logo{
         margin-bottom: 10px;
    }
}

/*
*Button home
*/

.btn-home{
    text-decoration: none;
    text-transform: uppercase;
    background: #A92626;
    border: 1px solid #922626;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 #C52828;
    -moz-box-shadow: inset 0 1px 0 #C52828;
    box-shadow: inset 0 1px 0 #C52828;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    display: inline-block;
    padding: 9px 14px 9px;
    line-height: 18px;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
    outline: none;
    cursor: pointer;
    white-space: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.btn-home:hover{
    color: #d4d4d4;
    background: #912323;
}

h1{
    margin-bottom: 20px;
    color: #d4d4d4;
}

@media (min-width: 768px) {
    .col-home-left {
        text-align: left;
        padding-left: 70px;
    }

    .img-home, .col-home-left{
        padding-top:120px !important;
    }
}

@media (max-width: 768px) {
    .img-home {
        display: none;
    }
}

.col-home-left{
    padding-top:20px;
}

.inner-cover{
    z-index: 1;
}

/*
*Notif
*/


.div-info-base, .div-info-actif{
    text-shadow: none;
    border: 1px solid black;
    padding: 7px 20px;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    margin:0;
    text-align: center;
    color: black;
    font-size: 0.9em;
    width: 250px;
    left : 50%;
    margin-left : -125px;
}

.div-info-base{
    top: -100px;
    transition: all 1s;
}

.div-info-actif{
    top: 30px;
    transition: all 1s;
}

.container-info{
    display: inline-block;
    /* reset container's center alignment */
    text-align: left;
}

.img-info{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
